repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: check-added-large-files
        exclude: |
          (?x)^(
            .config/wezterm/wallpapers/.*|
            .config/kitty/wallpapers/.*
          )$
      - id: detect-private-key
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.17.0
    hooks:
      - id: gitleaks
        args:
          - protect
          - --staged
          - --redact
